.button {
	width: 100%;

    padding: 4px 16px;
	background-color: var(--color-blue-dark);
	border-radius: 4px;

	color: var(--color-grey-0);

	cursor: pointer;
	transition: .2s;

	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
}
.button:hover {
	background-color: var(--color-blue);
}
.button:disabled {
	background-color: var(--color-grey-500);
	opacity: 0.5;
	cursor: default;
}
