<div class="w-full p-4 shadow-sm flex flex-col gap-4" [class.loading]="users.isLoading()">
	<h3 class="text-2xl">All Users</h3>
	<table class="table-fixed!w-full">
		<thead>
			<tr class="border-b-[1px] border-grey-300">
				<th class="text-start py-2 px-4 text-sm font-medium text-grey-600">Username</th>
				<th class="text-start py-2 px-4 text-sm font-medium text-grey-600">Department</th>
				<th class="text-start py-2 px-4 text-sm font-medium text-grey-600">Email</th>
				<th class="text-start py-2 px-4 text-sm font-medium text-grey-600">Role</th>
			</tr>
		</thead>
		<tbody>
			@for (user of users.value()?.results || []; track user.id) {
				<tr class="text-start text-sm border-b-[1px] border-grey-300">
					<td class="py-2 px-4 font-normal">{{user.username}}</td>
					<td class="py-2 px-4 font-normal">{{user.departmentName}}</td>
					<td class="py-2 px-4 font-normal">{{user.email}}</td>
					<td class="py-2 px-4 font-normal">{{user.role}}</td>
				</tr>
			}
		</tbody>
	</table>

	<div class="flex items-center gap-3 self-end select-none">
		<i-tabler name="chevron-left" class="cursor-pointer hover:text-blue" (click)="prevPage()"/>
		<i-tabler name="chevron-right" class="cursor-pointer hover:text-blue" (click)="nextPage()"/>
	</div>
</div>
