<card title="User Management" helperText="Add and manage company users">
	<form [formGroup]="form" (ngSubmit)="submit()" class="grid grid-cols-2 gap-4">
		<app-input
			formControlName="username"
			label="Username"
			class="col-span-2 md:col-span-1"
		/>
		<app-input
			formControlName="email"
			label="Email"
			class="col-span-2 md:col-span-1"
		/>
		<select formControlName="departmentId" class="w-full outline-0 h-[35px] border-[1px] border-grey-300 rounded-sm px-2 text-sm">
			<option value="">Select department</option>
			@for (department of departments.value()?.results; track department.id) {
				<option value="{{department.id}}">{{department.name}}</option>
			}
		</select>
		<select formControlName="role" class="w-full outline-0 h-[35px] border-[1px] border-grey-300 rounded-sm px-2 text-sm">
			<option value="">Select role</option>
			<option value="Admin">Admin</option>
			<option value="Staff">Staff</option>
			<option value="Employee">Employee</option>
		</select>
		<app-button class="col-span-2" rightIcon="user-plus" type="submit">Add user</app-button>
	</form>
</card>
